<ngx-spinner type="ball-scale-multiple">
    <svg width="135" height="140" viewBox="0 0 135 140" xmlns="http://www.w3.org/2000/svg" fill="#fff">
      <rect y="10" width="15" height="120" rx="6">
          <animate attributeName="height"
               begin="0.5s" dur="1s"
               values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
               repeatCount="indefinite" />
          <animate attributeName="y"
               begin="0.5s" dur="1s"
               values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
               repeatCount="indefinite" />
      </rect>
      <rect x="30" y="10" width="15" height="120" rx="6">
          <animate attributeName="height"
               begin="0.25s" dur="1s"
               values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
               repeatCount="indefinite" />
          <animate attributeName="y"
               begin="0.25s" dur="1s"
               values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
               repeatCount="indefinite" />
      </rect>
      <rect x="60" width="15" height="140" rx="6">
          <animate attributeName="height"
               begin="0s" dur="1s"
               values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
               repeatCount="indefinite" />
          <animate attributeName="y"
               begin="0s" dur="1s"
               values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
               repeatCount="indefinite" />
      </rect>
      <rect x="90" y="10" width="15" height="120" rx="6">
          <animate attributeName="height"
               begin="0.25s" dur="1s"
               values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
               repeatCount="indefinite" />
          <animate attributeName="y"
               begin="0.25s" dur="1s"
               values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
               repeatCount="indefinite" />
      </rect>
      <rect x="120" y="10" width="15" height="120" rx="6">
          <animate attributeName="height"
               begin="0.5s" dur="1s"
               values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
               repeatCount="indefinite" />
          <animate attributeName="y"
               begin="0.5s" dur="1s"
               values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
               repeatCount="indefinite" />
      </rect>
    </svg>
</ngx-spinner>
<div class="mainContent">
    <div class="row">
        <div class="col-md-12">
            <!-- <div>
                <img [src]="images" />
            </div> -->
            <div class="pageTitle">
                <div class="row">
                  <div class="col-md-6">
                    <h5><span>Search</span> Operations</h5>
                  </div>
                  <div class="col-md-6 btnRight">
                    <div *ngIf="objButtonFlag; else elseobjButtonFlag">
                      <button type="button" class="btn btn-primary" (click)="newObj()">Upload Object</button>
                    </div>
                    <ng-template #elseobjButtonFlag>
                      <button type="button" class="btn btn-primary" (click)="showObj()">Search Object</button>
                    </ng-template>
                  </div>
                </div>
            </div>
            <!-- <div class="pageTitle">
                <div class="row">
                    <div class="col-md-6">
                    <h5><span>Search</span> Operations</h5>
                    </div>
                </div>
            </div> -->
            <div class="tableBox searchTable" *ngIf="ObjFormFlag; else elseObjFormFlag">
                <div class="row">
                    <div class="col-md-12">
                        <form class="loginForm" [formGroup]="uploadForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="docType">Document Type</label>
                                        <ng-select [items]="typeList" bindLabel="name" [searchable]="false" [clearable]="false" 
                                            placeholder="Select Key" class="fontGotham" formControlName="docType" bindValue="id" (change)="typeSelect($event)">
                                            </ng-select>
                                            <div class="errorDiv" *ngIf="docTypeVal.invalid && (docTypeVal.dirty || docTypeVal.touched)">
                                                <div *ngIf="docTypeVal.errors?.['required']">Please select document type.</div> 
                                            </div>
                                        <!-- <input type="text" formControlName="caseidinput" name="caseidinput" class="form-control" placeholder="Case ID" /> -->
                                    </div>
                                    <div class="col-md-3">
                                        <label for="caseidinput">Case ID</label>
                                        <input type="text" formControlName="caseidinput" name="caseidinput" class="form-control fontGotham" placeholder="Case ID" />
                                        <div class="errorDiv" *ngIf="caseidinputVal.invalid && (caseidinputVal.dirty || caseidinputVal.touched)">
                                            <div *ngIf="caseidinputVal.errors?.['required']">Please Enter Case ID.</div> 
                                            <div *ngIf="caseidinputVal.errors?.['pattern']">Please Enter only numbers.</div> 
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="caseidinput">File Upload</label>
                                        <input type="file" name="uploadDoc" accept=".png, .jpg, .pdf, .tiff, .tif, .ppt, .doc, .xlsx"
                                        formControlName="uploadDoc" class="form-control fontGotham"
                                        (change)="onFileSelected($event)" >
                                        <div class="errorDiv" *ngIf="uploadDocVal.invalid && (uploadDocVal.dirty || uploadDocVal.touched)">
                                            <div *ngIf="uploadDocVal.errors?.['required']">Please upload document.</div> 
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary searchBtn" (click)="uploadOpt()"><span>Upload</span> <i class="fa-solid fa-upload"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <ng-template #elseObjFormFlag>
                <div class="tableBox searchTable">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="loginForm" [formGroup]="searchForm">
                                <div class="form-group">
                                    <div class="row">
                                        <!-- <div class="col-md-2">
                                            <label for="filter" class="searchLabel">Search Operations</label>
                                        </div> -->
                                        <div class="col-md-4">
                                            <label for="caseid">Case ID</label>
                                            <input type="text" formControlName="caseid" name="caseid" class="form-control fontGotham" placeholder="Case ID" />
                                            <div class="errorDiv" *ngIf="caseidVal.invalid && (caseidVal.dirty || caseidVal.touched)">
                                                <div *ngIf="caseidVal.errors?.['required']">Please Enter Case ID.</div> 
                                                <div *ngIf="caseidVal.errors?.['pattern']">Please Enter only numbers.</div> 
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="casevalue">Case Value</label>
                                            <input type="text" formControlName="casevalue" name="casevalue" class="form-control fontGotham" placeholder="Case Value" />
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-primary searchBtn" (click)="searchOpt()"><span>Search</span> <i class="fa-solid fa-magnifying-glass searchIcon"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tableView" *ngIf="openTableFlag">
                        <table mat-table [dataSource]="dataSource1" matSort>
                            <ng-container matColumnDef="fileType">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> File Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.fileType}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="objectName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.objectName}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <div *ngIf="element.fileType === 'image/jpeg' || element.fileType === 'application/pdf' || element.fileType === 'image/png'" >
                                        <span (click)="viewRow(element)" class="viewBtn"><i class="fa-regular fa-eye"></i></span>
                                    </div>
                                    <div *ngIf="element.fileType === 'image/tiff'">
                                        <!-- <span (click)="DownloadRow(element)" class="viewBtn"><i class="fa-solid fa-file-arrow-down"></i></span> -->
                                        <!-- <a href="{{element.uri}}" class="viewBtn"><i class="fa-solid fa-file-arrow-down"></i></a> -->
                                        <span (click)="viewRow(element)" class="viewBtn"><i class="fa-regular fa-eye"></i></span>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noData">
                                <td class="text-center" mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns1.length">
                                  No records found.
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                            <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource1 && dataSource1.data.length > 0"></tr>
                        </table>
                        <mat-paginator  [pageSize]="10" [pageSizeOptions]="[10, 20, 100]"></mat-paginator>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<!-- 
<img style="width: 100%;" [src]="urlSafe" />-->
<!-- <pdf-viewer
    [src]="urlSafe"
    [rotation]="0"
    [original-size]="false"
    [show-all]="true"
    [fit-to-page]="true"
    [zoom]="1"
    [zoom-scale]="'page-width'"
    [stick-to-page]="false"
    [render-text]="true"
    [external-link-target]="'blank'"
    [autoresize]="true"
    [show-borders]="true"
    style="width: 100%; height: 100vh;min-height:100vh">
</pdf-viewer> -->


